version: '3.8'

services:
  # 1. mysql 서비스 구성 -> db
  db:
    image: mysql
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: memo
      MYSQL_USER: guest
      MYSQL_PASSWORD: 1234
    volumes:
      - mysql_vol:/vor/lib/mysql # 볼륨마운트와 컨테이너특정 경로 연결
    ports:
      - "3306:3306"
    networks:
      - my-net
  # 2. fastapi 서비스 구성 -> was
  # 3. nginx 서비스 구성 -> web

# 서비스들이 위치할 네트워크 구성
networks:
  my-net:
    driver: bridge

# 볼륨 설정 -> 필요시 호스트 OS와 연결 (통상 DB)
volumes:
  mysql_vol: