services:
  # 1. mysql 서비스 구성 -> db
  db:
    image: mysql
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: memo
      MYSQL_USER: guest
      MYSQL_PASSWORD: 1234
    volumes:
      - mysql_vol:/vor/lib/mysql # 볼륨마운트와 컨테이너특정 경로 연결
    ports:
      - "3306:3306"
    networks:
      - my-net
  # 2. fastapi 서비스 구성 -> was
  app:                # 서비스 이름, 코드 내에서 호출시 사용
    build:    ./app   # app이라는 디렉토리내에 존재하는 Dockerfile을 기반으로 빌드
    container_name: fastapi_app # 컨테이너상 이름
    restart: unless-stopped
    # ports:    # 임시구성
    #  - "8000:8000"
    # 앱 실행(도커파일의 CMD or ENTRYPOINT+CMD)
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    volumes:
      - ./app:/app  # 호스트OS 경로(개발PC) / 컨테이너상 경로 동기화
    # 컨테이너상에 세팅된 OS에 환경변수로 세팅
    environment:
      DATABASE_URL: "mysql+pymysql://guest:1234@db:3306/memo"
    networks:
      - my-net
    depends_on:   # 사전에 먼저 구동되어야 할 서비스(의존적인)를 기술
      - db        # db 서비스가 가동되고 나서 app서비스를 시작해라

  # 3. nginx 리버스 프록시 서비스 구성  -> web
  #     -> 프록시 서버 연동 -> 80으로 서비스
  # 역할 : (80으로 요청을 받아서 8000 프록시 (전달)) -> 설정
  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: unless-stopped
    ports:      # 프록시할 포트 80
      - "80:80"
    volumes:    # 프록시 구성에 관련된 파일만 공유 (web.conf->default.conf 덮음)
      - ./nginx/web.conf:/etc/nginx/conf.d/default.conf
    networks:
      - my-net
    depends_on: # 사전에 먼저 구동되어야 할 서비스(의존적인)를 기술
      - app   

# 서비스들이 위치할 네트워크 구성
networks:
  my-net:
    driver: bridge

# 볼륨 설정 -> 필요시 호스트 OS와 연결 (통상 DB)
volumes:
  mysql_vol: